* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    letter-spacing: -1.2px;
}
hr{
    border: none;
    border-bottom: 1px solid lightgray;
    width: 100%;
}

.header{
    display: flex;
    width: 100%;
    height: 94px;
    color: white;
}
.logo {
    width: 45%;
    display: flex;
    align-items: center;
    background: #213262;
    padding-left:63px;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}
.logo p {
    cursor: pointer;
}
.menus {
    display: flex;
    width: 55%;
}
.menu {
    width: 100%;
    display: flex;
    align-items: center;
    background: #1A284D;
    font-family: 'Catamaran', sans-serif;
    padding-right: 20px;
    box-sizing: border-box;
    letter-spacing: initial;
}
.menu ol {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    height: 100%;
    line-height: 94px;
}
.list-menu {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-weight: 700;
    align-items: center;
}
.list-menu a {
    text-decoration: none;
    color: #687AA8;
    width: 100%;
    text-align: center;
    transition: color .3s ease-in-out;
}
.list-menu a:hover{
    color: white;
}
.list-menu:nth-child(3) ~ .list-menu a {
    color: white;
}
.list-menu:nth-child(4)::after{
    content: "";
    height: 20%;
    border: 1px solid white;
    will-change: transform;
    transition: transform .35s ease;
}
.list-menu:nth-child(4):hover::after{
    transform: scaleY(1.5);
}
.list-menu:nth-child(5) {
    display: none;
}
.list-menu:last-child {
    /* display: none; */
    position: relative;
}
.mi-cuenta-modal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    position: absolute;
    width: 126%;
    height: 150px;
    background: #F2F5FA;
    top:83.5px;
    color: black;
    clip-path: polygon(0% 7%,43% 7%, 50% 0%, 58% 7%, 100% 7%, 100% 100%, 0% 100%);
    padding: 20px;
    padding-left: 12px;
    padding-right: 10px;
    padding-bottom: 15px;
    box-sizing: border-box;
    align-items: flex-start;
    /* font-size: 14px; */
}
.list-menu .mi-cuenta-modal .container-miCuenta a{
    color: black;
    cursor: pointer;
    text-align: initial;
    padding-left: 10px; 
}
.list-menu .mi-cuenta-modal .container-miCuenta:last-child a {
    color: #c70303;
}
.icon-exit {
    color: #c70303;
}
.container-ver-reservas{
    width: 100%;
    padding-top: 10px;
}
.list-menu .mi-cuenta-modal .container-ver-reservas .container-miCuenta:nth-child(2) {
    margin-top: 10px;
    padding-block-end: 10px;
}
.list-menu .mi-cuenta-modal .container-ver-reservas .container-miCuenta:nth-child(2) a {
    color: black;
    /* margin-top: 10px; */
    display: block;
    box-sizing: border-box;
    /* padding-bottom: 10px; */
    width: 100%;
    text-align: left;
}
.container-miCuenta {
    /* cursor: pointer; */
    line-height: initial;
    display: flex;
    align-items: center;
}
.list-menu .mi-cuenta-modal .container-miCuenta:hover a{
    text-decoration: underline;
}
.container-miCuenta:last-child {
    justify-self: flex-end;
}
.agrandar::after{
    transform: scaleY(1.5);
}
.activo{
    background: #1D2D56;
    color:white !important;
}


.container-empresa {
    display: flex;
    height: 100%;
    width: 100%;
}
.imagen-empresa {
    width: 50%;
    height: 100%;
    background: #213262;
}
.imagen-empresa img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.empresa {
    display: flex;
    width: 50%;
    align-items: center;
    padding-left: 140px;
    padding-right: 60px;
    box-sizing: border-box;
    color: #3A478F;
}
.empresa p {
    color: #6B7F98;
}
.container-detalles p {
    font-size: 18px;
}
.title-descripcion {
    font-size: 45px;
    font-family: 'Catamaran', sans-serif;
    line-height: 45px;
    margin-bottom: 20px;
    letter-spacing: initial;
}

.ver-mas {
    padding-top: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.ver-mas a {
    display: flex;
    color: #608AD8;
    text-decoration: none;
    font-weight: 600;
}
.hacer-flechas {
    height: 20px;
    width: 8.5px;
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    transition: all .4s ease;
}
.hacia-arriba , .hacia-abajo , .desde-centro {
    width: 10px;
    height: 2px;
    background:#608AD8;
}
.hacia-arriba {
    transform-origin: right bottom;
    transform: rotate(45deg);
    margin-bottom: -2px;
}
.desde-centro {
    width: 1px;
    transition: all .4s ease;
}
.hacia-abajo {
    transform-origin: right top;
    transform: rotate(-45deg);
    margin-top: -2px;
}
.ver-mas:hover .desde-centro{
    transform: translateX(-7.5px) scaleX(15) ;
}
.ver-mas:hover .hacer-flechas {
    width: 15px;
}
.flecha-der:hover .desde-centro {
    transform: translateX(-7.5px) scaleX(15);
}
.flecha-der:hover .hacer-flechas {
    width: 15px;
}

.hacer-flechas-izq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 8.5px;
    height:20px;
    transition: all .4s ease;
    margin-right: 10px;
    transition: all .4s ease;
}
.hacia-arriba-izq , .desde-centro-izq , .hacia-abajo-izq {
    width: 10px;
    height: 2px;
    background: #608AD8;
}
.hacia-arriba-izq {
    transform-origin: bottom left;
    transform: rotate(-45deg);
    margin-bottom: -2px;
}
.hacia-abajo-izq {
    transform-origin: top left;
    transform: rotate(45deg);
    margin-top: -2px;
}
.desde-centro-izq {
    width: 1px;
    transition: all .4s ease;
}
.flecha-izq:hover .desde-centro-izq {
    transform: translateX(7.5px) scaleX(15) ;
}
.flecha-izq:hover .hacer-flechas-izq {
    width: 15px;
}



.flechas {
    position: absolute;
    display: flex;
    background: #243767;
    height: 90px;
    width: 180px;
    top: 0;
    left: 0;
    cursor: pointer;
}
.color-flechas {
    background: white;
}
 .flechas-responsive {
    display: none;
}
.flecha-izq {
    width: 100%;
    background: #1A284D;
    margin-right: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
}
.flecha-der {
    width: 100%;
    background: #1A284D;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    box-sizing: border-box;
}
.derecha{
    right: 0;
    left: initial;
}
.izquierda{
    right: initial;
    left: 0;
}

.descripcion-evento p {
    font-size: 20px;
    line-height: 28px;
}





.footer {
    background: #203260;
    height: 100%;
    width: 100%;
    color: white;
}
.footer-container {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: inherit;
}
.footer-superior {
    justify-content: space-between;
    padding: 30px;
}
.container-contacto {
    display: flex;
    align-items: center;
}
.container-contacto i {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: rgba(255,255,255,0.05);
    margin-right: 15px;
    margin-bottom: 8px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
}
.footer-contacto , .footer-redes-sociales  {
    width: 50%;
}
.title-quienes-somos {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 600;
}
.description-quienes-somos {
    font-size: 14px;
}
.title-redes-sociales {
    margin-top: 8px;
    font-size: 16.8px;
    font-weight: 600;
}
.container-redes-sociales {
    display: flex;
}
.container-redes-sociales i {
    margin-top: 15px;
    margin-right: 15px;
    width: 45px;
    height: 45px;
    background: rgba(255,255,255,0.05);
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    cursor: pointer;
}
.container-redes-sociales i:hover {
    font-size: 24px;
}
.footer-inferior {
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;
}
@media screen and (max-width:1024px){
    .empresa {
        padding-left: 100px;
    }
    .title-descripcion {
        font-size: 37px;
        margin-top: 40px;
    }
    .descripcion-evento p , .container-detalles p {
        font-size: 18px;
    }
    .flechas {
        height: 70px;
        width: 140px;
        cursor: pointer;
    }
    
}
@media screen and (max-width:960px){
    .header {
        height: 94px;
        background: #1A284D;
        justify-content: space-between;
    }
    .menus {
        justify-content: flex-end;
        width: initial;
    }
    .menu {
        width: 140px;
        padding: 0;
        background: #1D2D56;
    }
    .menu ol {
        line-height: 74px;
    }
    .contenedor-menu {
        height: 100%;
        width: 94px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .menu-linea-superior , .menu-linea-central , .menu-linea-inferior{ 
        width: 30px;
        height: 4px;
        background: white;
        margin-bottom: 5px;
    }
    .logo {
        justify-content: center;
        padding: 0 30px;
        background: inherit;
        width: initial;
        color: white;
        text-transform: none;
        font-weight: bold;
    }
    /* .empresa {
        padding-left: 60px;
    } */
    .list-menu {
        display: none;
        justify-content: center;
        width: 100%;
    }
    .list-menu:nth-child(4) {
        display: initial;
        justify-content: center;
        display: flex;
    }
    .list-menu:nth-child(4) a {
        content: "Haz tu cotización";
    }
    .list-menu:nth-child(4)::after {
        display: none;
    }
    .container-empresa:nth-child(4) .empresa{
        order: 1;
    }
    
}
@media screen and (max-width:936px) {
    .footer-container {
        font-size: 14px;
    }
    .empresa {
        width: 100%;
        background: #F2F5FA;
        padding-bottom: 40px;
    }
    .container-empresa {
        flex-wrap: wrap;
    }
    .imagen-empresa {
        width: 100%;
        height: 500px;
    }
    .container-empresa:nth-child(2) .imagen-empresa {
        order: -1;
    } 
}
@media screen and (max-width:600px) {
    .footer-container {
        flex-wrap: wrap;
    }
    .container-footer {
        margin-block-end: 20px;
    }
    .footer-redes-sociales {
        text-align: center;
        width: 100%;
    }
    .container-redes-sociales {
        justify-content: center;
        padding-left: 10px;
    }
}
@media screen and (max-width:550px){
    .menu {
        display: none;
    }
    .contenedor-menu {
        background: #1D2D56;
    } 
    .empresa {
        padding: 0 50px 30px 50px ;
        text-align: center;
    }
    .ver-mas {
        justify-content: center;
    }
}
@media screen and (max-width:480px) {
    .footer-country , .footer-copyright {
        width: 100%;
        text-align: center;
        font-size: 12px;
    }
}
