* {
    margin: 0;
    padding: 0;;
}
.container-detalle-producto {
    display: flex;
    padding: 60px 0;
}
.calificaciones {
    display: flex;
    margin-bottom: 4px;
}
.calificaciones i {
    height: 15px;
    width: 15px;
    color: #3A478F;
    margin-right: 2px;
}

.container-detalleproducto-principal {
    max-width: 1024px;
    display: inherit;
    margin: 0 auto;
}
.contenedor-informacion-producto {
    width: inherit;
    margin-bottom: 40px;
}
.informacion-detalles-producto {
    box-sizing: border-box;
    padding-top: 20px;
    width: 40%;
    padding-left: 30px;
    color: #6B7F98;
}
.informacion-detalles-producto h3 {
    margin-top: 10px;   
    color: #6B7F98;
}
.informacion-detalles-producto h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: #3A478F;
}
.informacion-detalles-producto p{
    color: #6B7F98;
}
.lee-resenas{ 
    text-decoration: underline;
    cursor: pointer;
    color: #6B7F98;
}
.precio-informacion {
    margin: 5px 0;
    font-size: 20px;
    
}
.description-product {
    text-align: justify;
}
.container-imagenes-detalle{
    width: 60%;
}
.container-imagenes-detalle img {
    display: block;
    box-sizing: border-box;
    width: 100%;
}
.btn-añadir-cotizacion {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #608AD8;
    color: white;
    font-size: 16px;
    font-family: 'Catamaran' , sans-serif;
    font-weight: 400;
    height: 50px;
    width: 180px;
    border-radius: 60px;
    outline: none;
    transition: .4s ease-in-out;
    margin-top: 30px;
    cursor: pointer;
}
.btn-añadir-cotizacion:hover {
    transform: scale(1.05);
}
.btn-añadir-cotizacion p {
    margin-top: 0;
    color: white;;
}
.informacion-del-producto {
    width: 60%;
    /* background: black; */
    /* height: 80px; */
    padding: 0 40px 0 0;
}
.imagen-del-producto {
    width: 40%;
}
.container-informacion-del-producto {
    display: flex;
    display: none;
    align-items: center;
    margin: 40px 0;
}
.container-informacion-del-producto .titulo-responsive-descripcion {
    display: none;
}
.imagen-del-producto img {
    box-sizing: border-box;
    object-fit: cover;
    width: 100%;
}
.titulo-informacion {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
    color:  #3A478F;
}
.subtitulo-informacion {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
    color: #6B7F98;
}
.descripcion-producto {
    font-size: 18px;
    color: #6B7F98;
}
.title-descripcion {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #3A478F;
    margin-bottom: 40px;
}
.subtitle-descripcion {
    font-size: 30px;
    color: #6B7F98;
    font-weight: bold;
    text-transform: uppercase;
}
.btns-detalle-producto {
    display: flex;

}
.btn-descripcion-producto , .btn-detalles-producto , .btn-comentarios {
    font-size: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
    height: 48px;
    background: white;
    border: 1px solid #243767;
    color: #3A478F;
    outline: none;
    cursor: pointer;
}
.btn-descripcion-producto:hover , .btn-detalles-producto:hover , .btn-comentarios:hover {
    font-weight: bold;
}
.container-detalles-del-producto {
    display: flex;
    display: none;
    color: #6B7F98;
    margin-left: 40px;
    padding: 40px 0;

}
.container-detalles-del-producto p {
    display: none;
}
.titulo-responsive-comentarios {
    display: none;
}
.container-listado-izquierdo , .container-listado-derecho {
    width: 100%;
}
.listado-izquierdo li, .listado-derecho li{
    margin-bottom: 20px;
}
.listado-derecho {
    margin-left: 40px;
}
.container-comentarios {
    display: flex;
    /* display: none; */
    margin-top: 50px;
}
.container-detalles-valoracion {
    /* margin-right: 20px; */
    width: 40%;
    padding-right: 30px;
    box-sizing: border-box;
}
.general-valoracion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background: #203260;
    color: white;
}
.valor-promedio {
    font-size: 57px;
    font-weight: bold;
    margin-right: 10px;
}
.general-valoracion-ayudante {
    flex-wrap: wrap;
}
.container-valoraciones , .numero-comentarios {
    width: 100%;
    font-size: 13px;
}
.title-detalle-valoracion {
    margin-top: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
}
.rating-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
}
.rating-bar-container p {
    text-transform: uppercase;
    font-size: 16.5px;
}
.rating-bar-container span {
    font-size: 13px;
}
.rating-bar {
    height: 3px;
    background: #D9DCDD;
    width: calc(100% - 110px);
    position: relative;
}   
.rating-bar-value {
    position: absolute;
    left: 0;
    height: 3px;
    background: #203260;
}
.comentarios-der {
    width: 60%;
    /* border-bottom: 1px solid #3A478F; */
}
.comentarios {
    margin-bottom: 25px;
}

.calificacion-fecha {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.fecha-comentario {
    font-size: 14px;
    color: #6B7F98;
}
.title-comentario {
    color: #3A478F;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 10px;
}
.calificacion-comentario i {
    color: #3A478F;
}
.comentario-usuario {
    color: #6B7F98;
    font-size: 18px;
    margin-bottom: 10px;
}
.recomiendo-producto {
    color: #767677;
    font-size: 14px;
    padding-bottom: 35px;
    border-bottom: 1px solid #3A478F;
}
.cliente-verificado {
    color: gray;
    margin-left: 5px;
    font-size: 14px;
}
.usuario-cliente {
    color: #608ad8;
    display: inline-block;
}
@media screen and (max-width:1064px) {
    .container-detalle-producto {
        padding: 60px 40px;
    }
    .contenedor-informacion-producto {
        padding: 0 40px;
    }
}

@media screen and (max-width:960px) {
    .container-detalleproducto-principal {
        flex-direction: column-reverse;
        width: 100%;
    }
    .container-imagenes-detalle , .informacion-detalles-producto {
        width: 100%;
    }
    .informacion-detalles-producto {
        padding-left: 10px;
    }
    .description-product {
        display: none;
    }
    .container-precio-boton {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;    
    }
    .btn-añadir-cotizacion {
        margin: 0;
    }
    .precio-informacion {
        display: flex;
        align-items: center;
    }
    
}
@media screen and (max-width:860px) {
    .imagen-del-producto {
        display: none;
    }
    .informacion-del-producto {
        width: 100%;
        padding: 0;
    }
}
@media screen and (max-width:760px) {
    .container-comentarios {
        flex-wrap: wrap;
        margin: 0;   
    }
    .container-detalles-valoracion , .comentarios-der {
        margin-top: 40px;
        width: 100%;
        padding-right: 0;
    }
}
@media screen and (max-width:640px) {
    .btn-añadir-cotizacion {
        height: 40px;
        width:150px ;
        font-size: 15px;
    }
}

@media screen and (max-width:580px) { 
    .btn-añadir-cotizacion {
        height: 35px;
        width:130px ;
        font-size: 14px;
    }
    .title-descripcion {
        font-size: 35px;
        margin-top: 10px;
    }
    .titulo-informacion {
        margin-bottom: 10px;
    }
}
@media screen and (max-width:500px) {
    .container-detalles-del-producto {
        flex-direction: column;
        padding-bottom: 0;
    }
    .listado-derecho {
        margin: 0;
    }
    .btn-descripcion-producto , .btn-detalles-producto , .btn-comentarios {
        font-size: 15px;
        color: #3A478F;
    }
    .listado-derecho li , .listado-izquierdo li {
        margin-bottom: 15px;
    }
    .title-descripcion {
        font-size: 30px;
        margin-bottom: 25px;
    }
    .container-detalle-producto {
        padding: 20px;
    }
    .contenedor-informacion-producto {
        padding: 0 20px;
    }
}
@media screen and (max-width:450px) {
    .btns-detalle-producto {
        flex-direction: column;
    }
    .container-detalles-del-producto {
        margin-left: 0;
    }
    .container-detalles-del-producto  p{
        display: initial;
        text-align: center;
        font-size: 15px;
        margin-bottom: 25px;
        text-transform: uppercase;
        font-weight: bold;
        color: #3A478F;
        letter-spacing: 2px;
    }
    .container-listado-derecho, .container-listado-izquierdo {
        padding-left: 40px;
        box-sizing: border-box;
    }
    .container-informacion-del-producto {
        flex-direction: column;
    }
    .container-informacion-del-producto .titulo-responsive-descripcion {
    display: initial;
    }
    .titulo-responsive-descripcion {
        font-size: 15px;
        text-transform: uppercase;
        color: #3A478F;
        letter-spacing: 2px; 
        font-weight: bold;
        margin-bottom: 20px;
    }
    .descripcion-producto {
        text-align: justify;
    }
    .title-descripcion {
        line-height: 32px;
    }
    .titulo-responsive-comentarios {
        margin-top: 40px;
        display: initial;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 15px;
        text-transform: uppercase;
        color: #3A478F;
        letter-spacing: 2px; 
        font-weight: bold;
    }
}

@media screen and (max-width: 380px) {
    .container-listado-izquierdo , .container-listado-derecho {
        padding-left: 20px;
    }
    .titulo-informacion {
        font-size: 24px;
        margin-bottom: 5px;
    }
    .subtitulo-informacion {
        font-size: 20px;
    }
    .descripcion-producto {
        font-size: 16px;
    }
    .fecha-comentario {
        font-size: 12px;
    }
    .title-comentario {
        font-size: 20px;
    }
    .comentario-usuario {
        font-size: 16px;
    }
    .usuario-cliente {
        font-size: 14px;
    }
    .btn-añadir-cotizacion {
        height: 30px;
        font-size: 13px;
        width: 120px;
    }

    .titulo-informacion-reseña {
        font-size: 16px;
    }
    .informacion-detalles-producto h2{
        font-size: 22px;
    }
    .precio-informacion {
        font-size: 18px;
    }
}
@media screen and (max-width: 335px) {
    .informacion-detalles-producto {
        padding: 0;
    }
    .container-precio-boton {
        flex-direction: column;
    }
    .btn-añadir-cotizacion {
        width: 100%;
    }
}